<div class="outer-wrap">
    <div class="wrapper">
        <div class="container">
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
        </div>
        <div class="container">
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
        </div>
        <div class="container">
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
        </div>
        <div class="container">
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
        </div>
        <div class="container">
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
        </div>
        <div class="container">
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container">
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
        </div>
        <div class="container">
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
        </div>
        <div class="container">
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
        </div>
        <div class="container">
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
        </div>
        <div class="container">
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
        </div>
        <div class="container">
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container">
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
        </div>
        <div class="container">
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
        </div>
        <div class="container">
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
        </div>
        <div class="container">
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
        </div>
        <div class="container">
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
        </div>
        <div class="container">
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container">
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
        </div>
        <div class="container">
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
        </div>
        <div class="container">
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
        </div>
        <div class="container">
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
        </div>
        <div class="container">
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
        </div>
        <div class="container">
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
            <div class="cube">
                <div class="cube-side top"></div>
                <div class="cube-side left"></div>
                <div class="cube-side right"></div>
            </div>
        </div>
    </div>
</div>